<p style="color: green"><%= notice %></p>

<div class="text-center">
  <h1><%= @user.name %></h1>
  <div>
    <%= link_to 'Редактировать профиль', edit_user_path(@user) %>
    <br>
    <br>
    <%= button_to 'Удалить аккаунт', @user, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
